@{
	ViewData["Title"] = "Sports Pro";
	Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Home Page</title>
</head>
<body>
	<div class="container mt-4 p-2" style="background: gray">
		<h1>About</h1>
		<p>SportsPro Technical Support constantly strives to provide the highest level of technical support for all products in the SportsPro family.</p>
	</div>
</body>
</html>